export ECOMMERCE_DB_DSN=postgresql://alex:alex@localhost/ecommerce?sslmode=disable
export SMTP_HOST=
export SMTP_PORT=587
export SMTP_USERNAME=demo@demo.bz
export SMTP_PASSWORD=demo1234
export SMTP_SENDER=demo@demo.bz

PORT=4000
ENV=production
LIMITER_RPS=2
LIMITER_BURST=4
LIMITER_ENABLED=true
CORS_TRUSTED_ORIGINS=http://localhost:4000 http://localhost:8080